<%- include("../templates/header") %>
<head>
  <link rel="stylesheet" href="/stylesheets/patro.css"></link>
  <script src="/javascript/cerrarSesion.js"></script> 
</head>
<%-include("../partials/nav")%>


<body>
  <main>
    <div class="form_container">
        <form action="./password/<%= user.id_usuario %>/?_method=PATCH" method="post" class="form_r">
          <div class="register_container">
            <div class="f_form">
              <h1 class="register"><%= title %></h1>
              <label id="titulo">Contraseña anterior</label><br>
              <input class="input_form" type="password" name="anterior" required><br>
              <label id="titulo">Nueva contraseña</label><br>
              <input class="input_form" type="password"  name="nueva" required><br>
              <label id="titulo">Repita su nueva contraseña</label><br>
              <input class="input_form" type="password"  name="confirmar" required><br>
        
              <input type="submit" class="button" value="Actualizar">          
            </div>
          </div>
        </form>
      </div>
  </main>
  <%-include("../partials/footer")%>
</body>
</html>