<%-include("../templates/header",{mainTitle:"UVM|Robotica|Equipos"})%>
<head> 
  <link rel='stylesheet' href='/stylesheets/mostrar.css' />

</head>
  
  <body>
    <%-include("../partials/disclaimer")%>
    <%-include("../partials/nav")%>

 <main>
    <div class="mostrar_container"> 
        <h1><%= title %></h1>
        <hr>
        <div class="boxes">
          <% if(equipos.length) { %>
            <h2> <%= equipos[0].nombre_de_equipo %> </h2>
            <p> <strong>ID del Equipo Participante:</strong> <%= equipos[0].id_equipo %> </p> <br>
            <h3> Inscripciones: </h3>
            <ul>
            <%  for (let i = 0; i < equipos.length; i++) { %>
                <% if(id_cat == null) { %>
                  <li> <b>Modalidad:</b> <%= equipos[i].nombre_modalidad %> <b>Categoría:</b> <%= equipos[i].nombre_categoria %> </li> <br><br>
                <% } else { %>
                  <li> <b>Modalidad:</b> <%= equipos[i].nombre_modalidad %> <b>Categoría:</b> <%= equipos[i].nombre_categoria %> </li> <br>
                  <a class="eliminar" href="./<%= equipos[i].id_equipo %>/<%= equipos[i].id_categoria %> ">Eliminar Categoría</a><br>
                <% } %>
              <% } %>
            </ul> 
          <% } %>
        </div>
                                
    </div>
 </main>
      <%-include("../partials/footer")%>

  </body>
</html>