<%-include("../templates/header",{mainTitle:"UVM|Robotica|Jueces"})%>
<head> 
  <link rel='stylesheet' href='/stylesheets/mostrar.css' />

</head>
  
  <body>
    <%-include("../partials/disclaimer")%>
    <%-include("../partials/nav")%>
    <main>
      <div class="mostrar_container">
        <h1> <%= title %> </h1>
        <hr>
        <div class="boxes">
          <h2> <%= modalidad[0].nombre_modalidad %> </h2>
            <form action="<%= modalidad[0].id_modalidad %>/?_method=DELETE" method="post">
              <input type="submit" class="button" value="Confirmar">
            </form>
        </div>
      </div>
    </main>
    <%-include("../partials/footer")%>

  </body>
</html>